ion-header, ion-footer, ion-tab {
    --background-color: transparent;
  }

ion-content {
    --background: #fbf9ef;

}

.header {
    padding: 1rem 1rem 0rem 1rem;
}

.avatar {
    width: 3rem;
}

.signUpTab {
    --background-color: #fbf9ef;
    position: relative;
    border-radius: 0px;
    width: 45%;
    margin: 10px 10px 10px auto;
    border: none;
}

.signup-btn, .signup-btn {
    --background: #f9cf00;
    --color: #566a35;
    --font-size: 400;
    --border-color: #566a35;
    --border-style: solid;
    --border-width: 3px;
    --border-radius: 0;
    font-size: 13px;
    padding-left: 8px;
}