
/* SIDEMENU CONTENT */
.menuHeader {
    --background-color: #fbf8ee;
}

#nameHeader {
    color: #db6f01;
    font-size: 2rem;
    font-weight: bolder;
    margin: 0px;
}

/* MAIN CONTENT */
ion-header,
ion-footer, 
ion-content {
    --background-color: #fbf8ee;
}

.header {
    padding: 0.7rem 1rem;
}

.avatar {
    width: 3rem;
}

ion-col p {
    margin: 0px;
}

#logo-sm {
    width: 30%;
}

#name {
    color: #db6f01;
    font-size: 1.3rem;
    font-weight: bolder;
    margin: 0px;
}

.menuBtn {
    color: #000;
}

#searchCol {
    padding: 0px;
}

.contentGrid {
    padding: 0px 17px;
}

.contentGrid ion-row ion-col h4 {
    color: #000;
    font-size: 1.2rem;
    margin: 0px;
}

.categoryCard {
    width: 5rem;
    height: auto;
    --background: transparent;
    border: none;
    box-shadow: none;
}

.drinkCard {
    box-shadow: none;
    /* --background: #db6f01; */
}

.categoryBtn {
    width: 7.5rem;
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1.8px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.categoryBtn:after {
    content: "";
    background-color: #deecb9;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
}

.categoryBtn:hover:after {
    top: 0px;
    left: 0px;
}

@media (min-width: 768px) {
    .categoryBtn {
        padding: 13px 50px 13px;
    }
}