.store {
  width: 80%;
  margin: auto;
  display: block;
}

ion-header {
  --background-color: transparent;
}

.signup-btn, .signin-btn {
  --background: #f9cf00;
  --color: #566a35;
  --font-size: 400;
  --border-color: #566a35;
  --border-style: solid;
  --border-width: 3px;
  --border-radius: 0;
  font-size: 13px;
  padding-left: 8px;
}