.infoGrid {
    padding: 0px 17px;
}

.infoText {
    --ion-item-background:#fbf8ee;
}

#addCardBtn {
    width: 15rem;
    height: 3rem;
    color: #db6f01;
    font-size: 20px;   
    background: #ffd4a9;
    border: solid 1.5px #db6f01;
    border-radius: 5px;
}

#cardIcon {
    font-size: 40px;
    margin: auto;
    display: block;
}

#saveCardBtn {    
    width: 8rem;
    height: 2rem;
    color: #ffffff;
    font-size: medium;   
    background: #db6f01;
    border-radius: 5px;
}